# Wczytanie bibliotek

In [11]:
import pandas as pd
import os
import numpy as np

# Wczytanie danych

In [2]:
results_path = "../results/"

In [7]:
dfs = []

for filename in os.listdir(results_path):
    if ".csv" in filename:
        filepath = results_path + filename
        df = pd.read_csv(filepath)
        nn_type = filename.split("_")[0]
        if nn_type == "no":
            nn_type = "no_dropout"
        optimizer = filename.split("_")[-1].split(".")[0]
        df["nn_type"] = nn_type
        df["optimizer"] = optimizer

        dfs.append(df)

In [8]:
results = pd.concat(dfs, ignore_index=True)
results

         Sum     Crema   Ravdess     Savee      Tess        nn_type optimizer
0   0.524503  0.422431  0.438679  0.422431  0.862500            cnn   RMSprop
1   0.345695  0.340497  0.259434  0.340497  0.408333        stacked       SGD
2   0.352759  0.335796  0.297170  0.335796  0.429167  bidirectional       SGD
3   0.535982  0.468099  0.443396  0.468099  0.802083  bidirectional      adam
4   0.433996  0.365346  0.311321  0.365346  0.693750     no_dropout       SGD
5   0.528918  0.407656  0.542453  0.407656  0.885417  bidirectional   RMSprop
6   0.520088  0.453324  0.443396  0.453324  0.752083            cnn      adam
7   0.476380  0.372062  0.433962  0.372062  0.808333     no_dropout   RMSprop
8   0.497572  0.437878  0.396226  0.437878  0.720833        stacked      adam
9   0.417219  0.387508  0.283019  0.387508  0.560417            cnn       SGD
10  0.514349  0.453324  0.419811  0.453324  0.750000        stacked   RMSprop
11  0.511258  0.425118  0.367925  0.425118  0.831250     no_dropout      adam

In [9]:
def highlight_max(s): 
    if s.dtype == np.object: 
        is_max = [False for _ in range(s.shape[0])] 
    else: 
        is_max = s == s.max() 
    return ['background: lightgreen' if cell else '' for cell in is_max]

In [14]:
results.style.highlight_max(color='lightgreen', axis=0, subset=["Sum", "Crema", "Ravdess", "Savee", "Tess"])

In [21]:
results_bidirectional_path = "../results/bidirectional_experiments/"

In [22]:
dfs = []

for filename in os.listdir(results_bidirectional_path):
    if ".csv" in filename:
        filepath = results_bidirectional_path + filename
        df = pd.read_csv(filepath)
        nn_type = filename.split("_")[0]
        optimizer = filename.split("_")[-1].split(".")[0]
        df["nn_type"] = nn_type
        df["optimizer"] = optimizer

        dfs.append(df)

In [23]:
results_bidirectional = pd.concat(dfs, ignore_index=True)
results_bidirectional.style.highlight_max(color='lightgreen', axis=0, subset=["Sum", "Crema", "Ravdess", "Savee", "Tess"])